* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto Sans KR", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
  border-spacing: 0px;
}
#root {
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ql-container{
  border: none !important;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.ql-editor{
  font-size: 16px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding-left:8px;
  padding-right: 8px;
}
.quill {
  height: 100%;
}
#customers td {
  padding-left:8px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 8px;
}

.topBarS_mobile{
  border:none !important;
}
.qlCenter{
  width: 100% !important;
}
tr > td:nth-child(1) {
  background-color: #f3f3f3;
}

.css-2b097c-container  {
  width: 100%;
}

.buttonTag{
  
  cursor: pointer;
} 

.buttonTag:hover{
  opacity: 0.5;
}